@import "mocha.css";
* {
    font-family: SauceCodePro Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

#window {
    background-color: @surface1;
    color: @text;
    border-radius: 4px;
    padding: 0 10px;
    margin: 0 4px;
    font-weight: normal;
}

window#waybar {
    background-color: rgba(30, 30, 46, 0.8); /* base with transparency */
    border: none; /* Remove border completely */
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}
window#waybar.hidden {
    opacity: 0.3;
}

window#waybar.empty {
    background-color: transparent;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 4px;
}

button:hover {
    background: @surface1;
    box-shadow: inset 0 -3px @lavender;
}

#workspaces button {
    padding: 0 8px;
    background-color: transparent;
    color: @subtext1;
}

#workspaces button:hover {
    background: @surface1;
    color: @text;
}

#workspaces button.focused {
    background-color: @surface2;
    color: @lavender;
    box-shadow: inset 0 -3px @lavender;
}

#workspaces button.urgent {
    background-color: @red;
    color: @base;
}

#mode {
    background-color: @surface2;
    color: @text;
}

/* Common module styling */
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    border-radius: 4px;
}

#clock {
    background-color: @blue;
    color: @base;
}

#battery {
    background-color: @green;
    color: @base;
}

#battery.charging, #battery.plugged {
    background-color: @teal;
    color: @base;
}

@keyframes blink {
    to {
        background-color: @red;
        color: @base;
    }
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @base;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon.performance {
    background-color: @red;
    color: @base;
}

#power-profiles-daemon.balanced {
    background-color: @sapphire;
    color: @base;
}

#power-profiles-daemon.power-saver {
    background-color: @green;
    color: @base;
}

#cpu {
    background-color: @peach;
    color: @base;
}

#memory {
    background-color: @mauve;
    color: @base;
}

#disk {
    background-color: @maroon;
    color: @base;
}

#network {
    background-color: @sky;
    color: @base;
}

#network.disconnected {
    background-color: @red;
    color: @base;
}

#pulseaudio {
    background-color: @yellow;
    color: @base;
}

#pulseaudio.muted {
    background-color: @surface1;
    color: @subtext0;
}

#temperature {
    background-color: @flamingo;
    color: @base;
}

#temperature.critical {
    background-color: @red;
    color: @base;
}

#tray {
    background-color: @surface2;
}

#idle_inhibitor {
    background-color: @overlay0;
    color: @text;
}

#idle_inhibitor.activated {
    background-color: @green;
    color: @base;
}

#mpd {
    background-color: @green;
    color: @base;
}

#language {
    background: @pink;
    color: @base;
    padding: 0 5px;
    margin: 0 5px;
}

#keyboard-state {
    background: @teal;
    color: @base;
    padding: 0 5px;
    margin: 0 5px;
}

#privacy-item.screenshare {
    background-color: @peach;
    color: @base;
}

#privacy-item.audio-in {
    background-color: @green;
    color: @base;
}

#privacy-item.audio-out {
    background-color: @blue;
    color: @base;
}
